{% extends "base.html" %} {% block content %}


<div style="text-align:center;">
    <h2>Change Username</h2>
    <h4>Please Complete below to change your username:</h4>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }}<br> {{ form.username(size=32) }}<br> {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </p>
        <br>
        <p>{{ form.submit() }}</p>
    </form>
    <br>
</div>
{% endblock %}